nav{
    background-color: rgb(60, 103, 189);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a{
    color: white;
    padding: 10px;
}
nav ul{
    display: flex;
}
nav li{
    padding: 10px;
}
nav h1{
    padding: 5px;
}
.accede{
    border: solid  rgb(47, 81, 148);
    background-color: rgb(47, 81, 148);
}
.registrate{
    border: solid rgb(47, 81, 148);
    background-color: rgb(47, 81, 148);
}




.imagenes{
    display: flex;
    flex-direction: row;
    padding: 30px;
}
.piano2{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.estadistica{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.celular{
    display: flex;
    flex-direction: column;
    width: 56%;
}




.texto{
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.parlante{
    display: flex;
    flex-direction: row;
    border: solid rgb(194, 194, 194);
    background-color: white
}
.frase{
    display: flex;
    flex-direction: row;
    border: solid  rgb(194, 194, 194);
    background-color: white
}
.papel{
    display: flex;
    flex-direction: row;
    border: solid  rgb(194, 194, 194);
    background-color: white
}
.tituloParlante{
    margin: 30px;
    display: flex;
    flex-direction: column;
}
.tituloFrase{
    margin: 30px;
    display: flex;
    flex-direction: column;
}
.tituloPapel{
    margin: 30px;
    display: flex;
    flex-direction: column;
}




.container{
    width: 20%;
    margin: 30px;
    text-align: center;
    align-content: center;
    background-color: rgb(194, 194, 194);
}
.propaganda{
    padding: 20px; 
}
.coneccion{
    padding: 20px;
}
.piano{
    padding: 20px;
}
.stereo{
    padding: 20px;
}



body{
    background-color: rgb(219, 219, 219);
}

